.form{
    z-index: 1;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;

}
.form[hidden] {
    display: none;
}

.form-step{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    background: white;
    padding: 30px;
    border-radius: 20px;
}


.form-step[hidden] {
    display: none;
}

.next{
    background-color:  rgb(28, 50, 68);
    color: #ffffff;
    border: none;
    width: 60px;
    height: 25px;
    border-radius: 10px;

}

.next:hover{
    background-color:  rgba(28, 50, 68, 0.7);
    cursor: pointer;
}

#email-error{
    color: rgb(200, 0, 0);
    font-size: 13px;
}

#field-error{
    color: rgb(200, 0, 0);
    font-size: 13px;
}

.done{
    background-color:rgb(28, 50, 68); 
    color: white;
    border: none;
    border-radius: 12px;
}

.done:hover{
    background-color:  rgba(28, 50, 68, 0.7);
    cursor: pointer;
}

