#posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    transform: scale(1);
    transition: transform 0.3s;
}


.scroll h2{
    color: rgb(226, 242, 255);
    text-align: center;

}

#loading{
    color: white;
    text-align: center;
}

#posts img{
    border-radius: 12px;
    transform: scale(1);
    transition: transform 0.3s;
}

#posts img:hover{
    transform: scale(1.03);
}